/*Main*/
main{
  margin: 0px 10px;
 background-color: #a59f93;
}
body{
 
  background-color: #EEE;
  color: #333;
}
nav{
background-color: #a59f93;
display: flex;
justify-content: center;
}
nav a{
  color: black;
  padding: 7px;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 700;
  font-family: monospace;
}
a:hover {
    color: #eeeedd !important;
}
button{
  border-radius: 7px 7px 7px 7px;
      position: relative;
    
    font-weight: 600;
}

.headerNav {
    padding: 10px 10px;
    position: relative;
    left: 64px;
}
h1{
  font-size: 2rem;
  color: #333;
  text-align: center;
  position: relative;
 
}
h2{
  font-size: 1.8rem;
  text-align: center;
  position: relative;
}
h3{
 font-size:1.2rem;
 text-align: center;
 position: relative;
}
h5{
font-size:1rem;
 text-align: center;
 position: relative;
}
.continerOver{
text-align: center;
}
footer{
  text-align: center;
  padding-top: 40px;
}
/*StartPage*/
.container{
justify-content: center;
display:flex;
}

.swapi{
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/Users/mikfry/Desktop/mikaelaportfolio/src/Assets/swapi-modified.png");
}
.capi{
 height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/Users/mikfry/Desktop/mikaelaportfolio/src/Assets/capi-modified.png");
}
.chess{
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/Users/mikfry/Desktop/mikaelaportfolio/src/Assets/schack-modified.png");
}
.showWallpaper{
  background-image: url("/Users/mikfry/Desktop/mikaelaportfolio/src/Assets/wallpaper.png");
    background-attachment: fixed;
    background-position: 60% 34%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
}
.text-container{
  justify-content: center;
display:flex;
flex-direction: column;
}
.magnolia{
  height: 50px;
  position: relative;
  padding:5px;
}
.nameTag{
  display: flex;
  flex-direction: row;
  font-size: 36px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  
}


/*Projects*/
.projectA {
  display:flex;
  flex-direction:center
}

h3{
    position:relative;
  
}
.h3Box{
    position:relative;
    bottom: 75px;
    left: 54px;

}
.note {
    display: table-cell;
    font-size: 2em;
    color: black;
    animation: animate 0.95s infinite;
   padding-left: 36px;
}

.notes{
    display: table-cell;
    font-size: 2em;
    color: black;
    padding-left: 37px;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  
  50% {
    transform: translateY(-20px);
  }
  
  100% {
    transform: translateY(0px);
  }
}
.note:nth-child(1) {
  animation-delay: 0.1s;
}

.note:nth-child(2) {
  animation-delay: 0.2s;
}

.note:nth-child(3) {
  animation-delay: 0.3s;
}

.note:nth-child(4) {
  animation-delay: 0.4s;
}

.note:nth-child(5) {
  animation-delay: 0.5s;
}

.note:nth-child(6) {
  animation-delay: 0.6s;
}

.note:nth-child(7) {
  animation-delay: 0.7s;
}
.note:nth-child(8) {
  animation-delay: 0.8s;
}

@keyframes stop{
0%{
  opacity: 1;
  transform: translateX(0) ;
}
100%{
  opacity: 1;
  transform: translateX(0);
}
}
/*
@-webkit-keyframes fadeInLeft {
0% {
opacity: 1;
-webkit-transform: translateX(-20px);
}
100% {
opacity: 1;
-webkit-transform: translateX(0);
}
}

@keyframes fadeInLeft {
0% {
opacity: 1;
transform: translateX(-300px);
}
100% {
opacity: 1;
transform: translateX(0);
}
}


@keyframes fadeInLeft {
0% {
opacity: 1;
transform: translateX(-300px);
}
100% {
opacity: 1;
transform: translateX(0);
}
}
*/
#box{
  position: relative;
  left:59px;
 /* animation: fadeInLeft 10s; 
  -webkit-animation-name: fadeInLeft;
*/
} 
.boxes{
  position: relative;
  padding: 4px 4px;
}   

.gridContainer{
      display: flex;
    position: relative;
    top: 153px;
    z-index: 1000000;
 
}